{% extends "adminTemplates/layouts/layout-dashboard.html" %}
{% block title %} Admin Dashboard | Mood List {% endblock %}
{% block main-section %}

{% if messages %}
<div class="alert alert-success" role="alert">
{% for msg in messages %}
    <b>{{ msg }}</b>
    <br>
{% endfor %}
</div>
{% endif %}

<div class="container">
<div class="row">
<div class="col-12 text-center">
    <div class="main-section">
        <h2 class="content-heading">Mood List</h2>
        
        <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Sl No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                  <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ row.mood_name }}</td>
                    <td>{{ row.mood_des }}</td>
                    <td>
                        <a href="{% url 'admin.mood.edit' id=row.id %}" class="badge badge-info">Edit</a>
                        <a href="{% url 'admin.mood.delete' id=row.id %}" onclick="return confirm('Are you sure you want to delete this item?');" class="badge badge-danger">Delete</a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
        

    </div>
</div>
</div>
</div>
{% endblock %}